[Unit]
Description=Service to target insertion of genomics indicators in BIGSdb
After=network.target remote-fs.target nss-lookup.target

[Service]
User=bigsdb
WorkingDirectory=/home/bigsdb/BIGSdb/
Environment="PYTHONPATH=/home/bigsdb/BIGSdb/"
ExecStart=/home/bigsdb/BIGSdb/3.12PythonVenv/bin/python3 /home/bigsdb/BIGSdb/bioit_mongodb_scripts/util_azure/azure_service_bus_consumer.py --species to_be_replaced_by_ansible --uploader_mail_address bioit@sciensano.be
Restart=on-success

[Install]
WantedBy=multi-user.target
