[uwsgi]

strict = true
master = true
chdir = {{ bioit_bigs_home }}/bioit_nrc_integration/python
module = wsgi:application
logto = {{ uwsgi_log_file }}
logfile-chmod = 664
log-date = true
processes = 1
uid = {{ uwsgi_user_name }}
gid = {{ uwsgi_group }}
http = 127.0.0.1:{{ custom_listening_port }}
chmod-socket = 664
die-on-term = true
enable-threads = true
single-interpreter = true
need-app = true
buffer-size = 32768