[% # Template file for outputting formatted hsp65 analysis results in the isolate information page. %]
[% IF hsp65 %]

<div class="indented-hera">
<h3>hsp65</h3>

<div class="scrollable">

<table class="data nice">
    <tr>
        <th>Species</th>
        <th>%Identity</th>
        <th>HSP/Locus length</th>
    </tr>

    <tr>
        <td colspan="3"><a href="[% hsp65.results.report_link %]" target="_blank">Full report</a></td>
    </tr>

    [% FOREACH hit IN hsp65.results.loci %]
    <tr>
        <td>[% hit.Species %]</td>
        <td>[% hit.percent_Identity %]</td>
        <td>[% hit.item('HSP/Locus_length') %]</td>
     </tr>
    [% END %]
</table>
</div>
</div>
[% END %]