[% # Default analysis output template file for isolate information page. %]
[% # Override this by putting a new template in /etc/bigsdb/dbases/<instance>/templates. %]

<style>


table.nice { text-align:center; border-collapse:separate; margin-bottom:0.75em }
table.nice th { background:#2f4f6f; color:#fff; padding:4px 6px; font-weight:600 }
table.nice td { padding:4px 6px }
table.nice tr:nth-child(n+3){ background:#E4EFF3 }
table.nice tr:nth-child(2n+3){ background:#C1E6F3 }
table.nice td:first-child { max-width:50ch; overflow-wrap:anywhere }

.indented-hera h3 { margin-left: 3em; }
.indented-hera h4 { margin-left: 3.5em; }
.indented-hera div { margin-left: 4em; }

.indented-hera-2 h3 { margin-left: 3em; }
.indented-hera-2 h4 { margin-left: 3.5em; }
</style>

[% INCLUDE isolate_info_summary_table_base.tt %]
[% INCLUDE isolate_info_krona.tt %]
[% INCLUDE isolate_info_rmlst_species.tt %]
[% INCLUDE isolate_info_kleborate.tt %]
[% INCLUDE isolate_info_amrfinder.tt %]
[% INCLUDE isolate_info_resfinder4.tt %]
[% INCLUDE isolate_info_mobsuite.tt %]
[% INCLUDE isolate_info_abritamr.tt %]
[% INCLUDE isolate_info_bacmet.tt %]
[% INCLUDE isolate_info_serotyping_salmonella.tt %]
[% INCLUDE isolate_info_rmlst_identification.tt %]
[% INCLUDE isolate_info_mykrobe.tt %]
[% INCLUDE isolate_info_virulence_detection.tt %]
[% INCLUDE isolate_info_plasmid_finder_gram_positive.tt %]
[% INCLUDE isolate_info_lre_finder.tt %]
[% INCLUDE isolate_info_clusters.tt %]
[% INCLUDE isolate_info_plasmid_finder_gram_positive.tt %]
[% INCLUDE isolate_info_ncbi16s.tt %]
[% INCLUDE isolate_info_snpit.tt %]
[% INCLUDE isolate_info_hsp65.tt %]
[% INCLUDE isolate_info_51snp.tt %]
[% INCLUDE isolate_info_spoligotyping.tt %]
[% INCLUDE isolate_info_snplineage.tt %]
[% INCLUDE isolate_info_amr_detection.tt %]
[% INCLUDE isolate_info_gmats.tt %]
[% INCLUDE isolate_info_mendevar.tt %]
[% INCLUDE isolate_info_ref_selection.tt %]
[% INCLUDE isolate_info_nextclade.tt %]
[% INCLUDE isolate_info_antiviral_resistance.tt %]