[% # Template file for outputting formatted snpit analysis results in the isolate information page. %]
[% IF snpit %]
<h3>snpit</h3>

<div class="scrollable">
<style>
    table.nice {
        text-align: center;
        border-collapse: separate;
    }
    table.nice th, table.nice td {
        padding: 2px 6px; /* Adds padding inside cells (top/bottom, left/right) */
    }
    table.nice td:first-child {
        max-width: 50ch;
        overflow-wrap: anywhere;
    }
    table.nice tr:nth-child(n+3) {
        background: #E4EFF3;
    }
    table.nice tr:nth-child(2n+3) {
        background: #C1E6F3;
    }
</style>

<table class="data nice">
    <tr>
        <th>Species</th>
        <th>Lineage</th>
        <th>Sublineage</th>
        <th>Percent match</th>
    </tr>

    <tr>
        <td colspan="4"><a href="[% snpit.results.report_link %]" target="_blank">Full report</a></td>
    </tr>
    <tr>
        <td>[% snpit.results.snpit_species %]</td>
        <td>[% snpit.results.snpit_lineage %]</td>
        <td>[% snpit.results.snpit_sublineage %]</td>
        <td>[% snpit.results.snpit_percent_matched %]</td>
     </tr>
</table>
</div>
[% END %]
