[% # Template file for outputting formatted MenDeVAR analysis results in the isolate information page. %]
[% IF MenDeVAR %]

<div class="indented-hera-2">
<h3>MenDeVAR indexes</h3>

<div class="field_group">
<dl class="data">
    [% IF MenDeVAR.results.mendevar_bexsero_status %]
        <span class="dontsplit">
        <dt>Bexsero status</dt><dd>[% MenDeVAR.results.mendevar_bexsero_status %]</dd>
        </span>
    [% END %]
    [% IF MenDeVAR.results.mendevar_trumenba_status %]
        <span class="dontsplit">
        <dt>Trumenba status</dt><dd>[% MenDeVAR.results.mendevar_trumenba_status %]</dd>
        </span>
    [% END %]
</dl>
</div>
</div>
<br>
[% END %]