[% # Template file for outputting formatted AMRFinder analysis in the isolate information page. %]
[% IF AMRFinder %]
<div class="indented-hera">
<h3>AMRFinder</h3>

<div class="scrollable">

<table class="data nice">
    <tr>
        <th>AMR</th>
        <th>Resistance gene</th>
        <th>%Identity</th>
        <th>%Coverage</th>
    </tr>

    <tr>
        <td colspan="4"><a href="[% AMRFinder.results.report_link %]" target="_blank">Full report</a></td>
    </tr>

    [% FOREACH hit IN AMRFinder.results.amr_genes_hits %]
    <tr>
        <td>[% hit.Subclass %]</td>
        <td>[% hit.Element_symbol %]</td>
        <td>[% hit.percent_Identity_to_reference | format('%0.2f') %]</td>
        <td>[% hit.percent_Coverage_of_reference | format('%0.2f') %]</td>
     </tr>
    [% END %]
</table>
</div>
</div>
[% END %]