[% # Template file for outputting formatted serotyping analysis results in the Salmonella isolate information page. %]

[% IF SISTR %]
<div class="indented-hera">
<h3>SISTR</h3>
<div class="scrollable">
<table class="data nice">
    <tr>
        <th>Antigenic formula</th>
        <th>Serotype</th>
    </tr>
    <tr>
        <td colspan="2"><a href="[% SISTR.results.report_link %]" target="_blank">Full report</a></td>
    </tr>
    <tr>
        <td>[% SISTR.results.sistr_serotype_antigenic_formula %]</td>
        <td>[% SISTR.results.sistr_serotype_consensus %]</td>
    </tr>
</table>
</div>
<br>
[% END %]

[% IF SeqSero2 %]
<h3>SeqSero2</h3>
<div class="scrollable">
<table class="data nice">
    <tr>
        <th>Mode</th>
        <th>Antigenic formula</th>
        <th>Serotype</th>
    </tr>
    <tr>
        <td colspan="3"><a href="[% SeqSero2.results.report_link %]" target="_blank">Full report</a></td>
    </tr>
    [% IF SeqSero2.results.seqsero2_kmer_Predicted_antigenic_profile %]
    <tr>
        <td>assembly kmer</td>
        <td>[% SeqSero2.results.seqsero2_kmer_Predicted_antigenic_profile %]</td>
        <td>[% SeqSero2.results.seqsero2_kmer_Predicted_serotype %]</td>
    </tr>
    [% END %]
    [% IF SeqSero2.results.seqsero2_allele_Predicted_antigenic_profile %]
    <tr>
        <td>raw read allele</td>
        <td>[% SeqSero2.results.seqsero2_allele_Predicted_antigenic_profile %]</td>
        <td>[% SeqSero2.results.seqsero2_allele_Predicted_serotype %]</td>
    </tr>
    [% END %]
    [% IF SeqSero2.results.seqsero2_kmerread_Predicted_antigenic_profile %]
    <tr>
        <td>raw read kmer</td>
        <td>[% SeqSero2.results.seqsero2_kmerread_Predicted_antigenic_profile %]</td>
        <td>[% SeqSero2.results.seqsero2_kmerread_Predicted_serotype %]</td>
    </tr>
    [% END %]
</table>
</div>
</div>
<br>
[% END %]
