[% # Template file for outputting formatted ResFinder4 analysis in the isolate information page. %]
[% IF ResFinder4 %]
<h3>ResFinder4</h3>

<div class="scrollable">
<style>
    table.nice {
        text-align: center;
        border-collapse: separate;
    }
    table.nice th, table.nice td {
        padding: 2px 6px; /* Adds padding inside cells (top/bottom, left/right) */
    }
    table.nice td:first-child {
        max-width: 50ch;
        overflow-wrap: anywhere;
    }
    table.nice tr:nth-child(n+3) {
        background: #E4EFF3;
    }
    table.nice tr:nth-child(2n+3) {
        background: #C1E6F3;
    }
</style>

<table class="data nice">
    <tr>
        <th>AMR</th>
        <th>Resistance gene</th>
        <th>%Identity</th>
        <th>%Coverage</th>
    </tr>

    <tr>
        <td colspan="4"><a href="[% ResFinder4.results.report_link %]" target="_blank">Full report</a></td>
    </tr>

    [% FOREACH hit IN ResFinder4.results.resfinder4_genes_hits %]
    <tr>
        <td>[% hit.Phenotype %]</td>
        <td>[% hit.Resistance_gene %]</td>
        <td>[% hit.Identity %]</td>
        <td>[% hit.Coverage %]</td>
     </tr>
    [% END %]
</table>
</div>
[% END %]