[%# File: conf/templates/isolate_info_summary_table_neisseria.tt %]
[% IF summary %]
[% sg = key_results.sg_results IF key_results.sg_results %]

<h3>Sequence typing & species identification</h3>
<div class="scrollable">


<table class="data nice" style="width: 70%;">
    <tr align="center">
        <th>cgST</th>
        <th>ST</th>
        <th>rST</th>
        <th>porA_VR1</th>
        <th>porA_VR2</th>
        <th>porB</th>
    </tr>
    <tr>
    </tr>
    <tr align="center">
        <td>[% summary.results.st_results.cgst %]</td>
        <td>[% summary.results.st_results.st %]</td>
        <td>[% summary.results.st_results.rst %]</td>
        <td>[% summary.results.st_results.pora_vr1 %]</td>
        <td>[% summary.results.st_results.pora_vr2 %]</td>
        <td>[% summary.results.st_results.porb %]</td>
    </tr>
</table>

<table class="data nice" style="width: 300px;">
    <tr align="center">
        <th>serogroup legacy</th>
        <th>capsule serogroup</th>
    </tr>
    <tr>
    </tr>
    <tr align="center">
        <td>[% summary.results.sg_results.serogroup %]</td>
        <td>[% summary.results.sg_results.capsule_serogroup %]</td>
    </tr>
</table>

[% END %]
