[% # Template file for outputting formatted 51SNP analysis results in the isolate information page. %]
[% IF ${'51SNP'} %]
<h3>51 SNP-based</h3>

<div class="scrollable">
<style>
    table.nice {
        text-align: center;
        border-collapse: separate;
    }
    table.nice th, table.nice td {
        padding: 2px 6px; /* Adds padding inside cells (top/bottom, left/right) */
    }
    table.nice td:first-child {
        max-width: 50ch;
        overflow-wrap: anywhere;
    }
    table.nice tr:nth-child(n+3) {
        background: #E4EFF3;
    }
    table.nice tr:nth-child(2n+3) {
        background: #C1E6F3;
    }
</style>

<table class="data nice">
    <tr>
        <th>gyrB group</th>
        <th>gyrB species</th>
        <th>Genetic group</th>
        <th>SCG</th>
        <th>ST associated with SG</th>
    </tr>

    <tr>
        <td colspan="5"><a href="[% ${'51SNP'}.results.report_link %]" target="_blank">Full report</a></td>
    </tr>
    <tr>
        <td>[% ${'51SNP'}.results.gyrB_group %]</td>
        <td>[% ${'51SNP'}.results.gyrB_species %]</td>
        <td>[% ${'51SNP'}.results.genetic_group %]</td>
        <td>[% ${'51SNP'}.results.scg %]</td>
        <td>[% ${'51SNP'}.results.st %]</td>
     </tr>
</table>
</div>
[% END %]