[% # Template file for outputting formatted VirulenceFinder and VFDB-Core results %]
[% IF VirulenceFinder OR VFDB_core %]
<div class="indented-hera">
<h3>Virulence detection</h3>

[% IF VirulenceFinder %]
<div class="scrollable">
    <dl class="data">
        <dt>VirulenceFinder</dt>
        <dd>
            <a href="[% VirulenceFinder.results.report_link %]" target="_blank">Full report</a>
        </dd>
    </dl>
</div>
</div>
[% END %]

[% IF VFDB_core %]
<div class="indented-hera">
<div class="scrollable">
    <dl class="data">
        <dt>Virulence Factor DB - Core</dt>
        <dd>
            <a href="[% VFDB_core.results.report_link %]" target="_blank">Full report</a>
        </dd>
    </dl>
</div>
</div>
[% END %]
<br>
[% END %]
