[% # Template file for outputting formatted Mykrobe results in the isolate information page. %]
[% IF Mykrobe %]
<div class="indented-hera">
<div class="indented-hera">
<h3>Mykrobe</h3>

<div class="scrollable">

<table class="data nice">
    <tr>
        <th>Phylogenetic group</th>
        <th>Species</th>
        <th>Lineage</th>
    </tr>

    <tr>
        <td colspan="3"><a href="[% Mykrobe.results.report_link %]" target="_blank">Full report</a></td>
    </tr>

    <tr>
        <td>[% Mykrobe.results.mykrobe_phylo_group %]</td>
        <td>[% Mykrobe.results.mykrobe_species %]</td>
        <td>[% Mykrobe.results.mykrobe_lineage %]</td>
    </tr>
</table>
</div>
</div>
<br>
[% END %]