.icon.fontello{font-size:24px;padding:8px;}.icon-linkedin:before{content:'linkedin';padding:8px;width:100px;}.icon-gplus:before{content:'Google+';padding:8px;width:100px;}.icon-twitter:before{content:'Twitter';padding:8px;width:100px;}
#edit-field-aepublishing-date{display:none;}
