<?xml version="1.0" encoding="ISO-8859-1" ?>
<db>
<system
 db="bigsdb_neisseria_isolates"
 dbtype="isolates"
 webroot="/neisseria.html"
 indexpage=""
 view="isolates"
 maindisplay_aliases="yes"
 description="Neisseria isolates"
 locus_superscript_prefix="yes"
 authentication="builtin"
 read_access="authenticated_users"
 all_plugins="yes"
 microreact_year_field="isolation_date"
 tblastx_tagging="yes"
 eav_groups="Gene detection|fas fa-search,galaxy report|fas fa-file-medical-alt,Antibiotic resistance|fas fa-angle-right,Serotyping|fas fa-angle-right"
 field_groups="Curation history|fas fa-history,nominative metadata|fas fa-search"
 user_projects="yes"
 submissions="yes"
 genome_submissions="no"
 show_job_notification_form="no"
>
</system>
<field type="int" required="yes" length="5" maindisplay="yes" comments="primary key">id</field>
<field type="text" required="yes" length="20" maindisplay="yes" comments="isolate name">isolate</field>
<field type="int" required="yes" length="4" maindisplay="no" group ="Curation history" comments="sender unique name, link to users">sender</field>
<field type="int" required="yes" length="4" maindisplay="no" group ="Curation history" comments="curator who entered data,link to users">curator</field>
<field type="date" required="no" length="10" maindisplay="no" group ="Curation history" comments="latest analysis date">latest_analysis_date</field>
<field type="date" required="no" length="10" maindisplay="no" group ="Curation history" comments="date first entered">date_entered</field>
<field type="date" required="no" length="10" maindisplay="no" group ="Curation history" comments="date last modified">datestamp</field>
<field type="text" required="no" length="40" maindisplay="no" group ="Curation history" comments="uploader through Galaxy">uploader</field>
<field type="text" required="no" length="20" maindisplay="no" group ="Curation history" comments="validation type">validation_type</field>
<field type="text" required="no" length="40" maindisplay="no" group ="Curation history" comments="curator that validated this sample">validation_curator</field>
<field type="date" required="no" length="10" maindisplay="no" group ="Curation history" comments="date of curation">validation_date</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="client zip">client_zip</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="sample client reference">sample_client_reference</field>
<field type="date" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="isolation date">isolation_date</field>
<field type="int" required="no" length="2" maindisplay="no" group ="nominative metadata" comments="isolation day">day_of_isolation</field>
<field type="int" required="no" length="2" maindisplay="no" group ="nominative metadata" comments="isolation month">month_of_isolation</field>
<field type="int" required="no" length="4" maindisplay="no" group ="nominative metadata" comments="isolation year">year_of_isolation</field>
<field type="text" required="no" length="4" maindisplay="no" group ="nominative metadata" comments="human sample">human_sample</field>
<field type="text" required="no" length="20" maindisplay="no" group ="nominative metadata" comments="patient ID">patient_id</field>
<field type="date" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="patient birth date">patient_birth_date</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" geography_point_lookup="yes" comments="patient zip">patient_zip</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="province">province</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="region">region</field>
<field type="float" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="latitude">latitude</field>
<field type="float" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="longitude">longitude</field>
<field type="text" required="no" length="20" maindisplay="no" group ="nominative metadata" comments="patient sex">patient_sex</field>
<field type="int" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="patient age">patient_age</field>
<field type="text" required="no" length="30" maindisplay="no" group ="nominative metadata" comments="patient age group">patient_age_group</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="recently stay abroad">recently_stayed_abroad</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="country 1">country_1</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="country 2">country_2</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="hospitalisation">hospitalisation</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="specimen">specimen</field>
<field type="text" required="no" length="20" maindisplay="no" group ="nominative metadata" comments="case Type">case_type</field>
<field type="text" required="no" length="40" maindisplay="no" group ="nominative metadata" comments="evolution">evolution</field>
<field type="text" required="no" length="40" maindisplay="no" group ="nominative metadata" comments="identification">identification</field>
<field type="text" required="no" length="30" maindisplay="no" group ="nominative metadata" comments="serogroup">serogroup_pheno</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Amo">mic_amo</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Amo I">mic_amo_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Amp">mic_amp</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Amp I">mic_amp_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Azm">mic_azm</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Cox">mic_cox</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Cox I">mic_cox_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Chl">mic_chl</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Chl I">mic_chl_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Cip">mic_cip</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Cip I">mic_cip_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Pen">mic_pen</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Pen I">mic_pen_I</field>
<field type="float" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Rif">mic_rif</field>
<field type="text" required="no" length="10" maindisplay="no" group ="nominative metadata" comments="MIC Rif I">mic_rif_I</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="MIC resistances">mic_resistances</field>
<field type="text" required="no" length="20" maindisplay="no" group ="nominative metadata" comments="indication for sequencing">indication_for_sequencing</field>
<field type="text" required="no" length="20" maindisplay="no" group ="nominative metadata" comments="keep for clustering">keep_for_clustering</field>
<field type="text" required="no" length="150" maindisplay="no" group ="nominative metadata" comments="comment">comment</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="isolate_label">isolate_label</field>
<field type="text" required="no" length="50" maindisplay="no" group ="nominative metadata" comments="country">country</field>
</db>
