pathlib==1.0.1
psycopg2==2.9.3
argparse==1.4.0
requests==2.27.1
pyyaml==5.3.1
soupsieve==2.0.1
urllib3==1.25.10
fastavro==1.5.2
pymongo==4.2.0
dnspython==2.2.1
numba==0.56.0
gitpython==3.1.27
biopython==1.79