pymongo
numba
gitpython
biopython
numpy
temp
fastcluster
scipy
PyYAML
azure-batch
azure-identity
azure-keyvault
azure-storage-blob
azure-servicebus
azure-monitor-ingestion
beautifulsoup4
lxml
psycopg # needed for function in python_utility_functions.py