<?xml version="1.0" encoding="ISO-8859-1" ?>
<db>
<system
 db="bigsdb_stec_seqdef"
 dbtype="sequences"
 webroot="/stec.html"
 indexpage=""
 script_path_includes="/bigsdb/"
 curate_path_includes="/bigsdb/"
 description="STEC Seqdef"
 locus_superscript_prefix="yes"
 authentication="builtin"
 read_access="authenticated_users"
 disable_seq_downloads="no"
>
</system>
</db>
